/* index.css */
select {
	float: left;
	clear: left;
}

label {
	float: left;
	clear: left;
}

input {
	float: left;
	clear: both;
	margin-bottom: 10px;
}

button {
	float: left;
	clear: both;
}

div {
	float: left;
	clear: both;
}

p {
	float: left;
	clear: both;
}